<a href="https://colab.research.google.com/github/crissouza15/python/blob/main/aulapython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

aula 2

In [2]:
livro_ficcao = 8
livro_n_ficcao = 10
livro_infantil = 6
pontos_rodrigo = livro_ficcao + livro_n_ficcao + livro_infantil
print(f"Os pontos totais do Rodrigo são {pontos_rodrigo}")
pontos_ana =  livro_ficcao * +  2 + livro_infantil * 5
print(f"os pontos totais de Ana são {pontos_ana}")
pontos_carlos = 1 * livro_ficcao + 3 * livro_n_ficcao + 3 * livro_infantil
print(f"os pontos totais de Ana são {pontos_ana}")
pontos_totais = pontos_rodrigo + pontos_ana + pontos_carlos

Os pontos totais do Rodrigo são 24
os pontos totais de Ana são 46
os pontos totais de Ana são 46

In [6]:
total_de_figurinhas = int(input("Digite o total de figurinhas: "))
numero_de_amigos = int(input("Digite o número de amigos: "))
figurinhas_amigo = total_de_figurinhas // (numero_de_amigos + 2)
figurinhas_joao = 2 * figurinhas_amigos
print (f"cada amigo recebe {}")

SyntaxError: f-string: valid expression required before '}' (ipython-input-2491664965.py, line 5)

aula 3

In [5]:
numero_de_alunos = int(input("Digite a quantidade de alunos: "))
numero_de_monitores = int(input("Digite a quantidade de monitores: "))
if numero_de_alunos + numero_de_monitores <= 50:
  resposta_positiva = "pode ir"
  esposta_negativa = "não pode ir"
if numero_de_alunos + numero_de_monitores <= 50:
  print(resposta_positiva)
else:
  print(resposta_negativa)

Digite a quantidade de alunos: 30
Digite a quantidade de monitores: 5
pode ir

In [13]:
quantidade_professores = 8
numero_de_alunos = int(input("Digite a quantidade de alunos: "))
numero_de_monitores = int(input("Digite a quantidade de monitores: "))
if numero_de_alunos + numero_de_monitores + quantidade_professores <= 30:
  resposta_positiva = "pode ir"
if numero_de_alunos + numero_de_monitores <= 50:
  print(resposta_positiva)
else:
  print(resposta_negativa)

Digite a quantidade de alunos: 30
Digite a quantidade de monitores: 5
pode ir