<a href="https://colab.research.google.com/github/crissouza15/python/blob/main/aulapython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

aula 2

In [ ]:
livro_ficcao = 8
livro_n_ficcao = 10
livro_infantil = 6
pontos_rodrigo = livro_ficcao + livro_n_ficcao + livro_infantil
print(f"Os pontos totais do Rodrigo são {pontos_rodrigo}")
pontos_ana =  livro_ficcao * +  2 + livro_infantil * 5
print(f"os pontos totais de Ana são {pontos_ana}")
pontos_carlos = 1 * livro_ficcao + 3 * livro_n_ficcao + 3 * livro_infantil
print(f"os pontos totais de Carlos são {pontos_carlos}")
pontos_totais = pontos_rodrigo + pontos_ana + pontos_carlos
print(f"os pontos totais de Ana e Rodrigo são {pontos_totais}")

Os pontos totais do Rodrigo são 24
os pontos totais de Ana são 46
os pontos totais de Carlos são 56
os pontos totais de Ana e Rodrigo são 126

In [5]:
total_de_figurinhas = int(input("Digite o total de figurinhas: "))
numero_de_amigos = int(input("Digite o número de amigos: "))
figurinhas_amigo = total_de_figurinhas // (numero_de_amigos + 2)
figurinhas_joao = 2 * figurinhas_amigos

  print(f"joao recebeu {figurinhas_joao} )

IndentationError: unexpected indent (ipython-input-4005381351.py, line 6)

aula 3

In [ ]:
numero_de_alunos = int(input("Digite a quantidade de alunos: "))
numero_de_monitores = int(input("Digite a quantidade de monitores: "))
if numero_de_alunos + numero_de_monitores <= 50:
  resposta_positiva = "pode ir"
  esposta_negativa = "não pode ir"
if numero_de_alunos + numero_de_monitores <= 50:
  print(resposta_positiva)
else:
  print(resposta_negativa)

Digite a quantidade de alunos: 30
Digite a quantidade de monitores: 5
pode ir

In [ ]:
quantidade_professores = 8
numero_de_alunos = int(input("Digite a quantidade de alunos: "))
numero_de_monitores = int(input("Digite a quantidade de monitores: "))
if numero_de_alunos + numero_de_monitores + quantidade_professores <= 30:
  resposta_positiva = "pode ir"
if numero_de_alunos + numero_de_monitores <= 50:
  print(resposta_positiva)
else:
  print(resposta_negativa)

Digite a quantidade de alunos: 30
Digite a quantidade de monitores: 5
pode ir

aula 4

In [1]:
P = int(input("Digite a posição da porta P (0 ou 1): "))
R = int(input("Digite a posição da porta R (0 ou 1): "))
if P == 0:
    print("C")
elif R == 1:
    print("A")
else:
    print("B")

Digite a posição da porta P (0 ou 1): 1
Digite a posição da porta R (0 ou 1): 1
A

In [9]:
P = int(input("Digite a posição da porta P (0 ou 1): "))
R = int(input("Digite a posição da porta R (0 ou 1): "))
Q = int(input("Digite a posição da porta Q (0 ou 1): "))
if P == 0:
    print("C")
elif R == 1:
    print("A")
else:
    print("B")
if Q == 1:
    print("D")

Digite a posição da porta P (0 ou 1): 0
Digite a posição da porta R (0 ou 1): 1
Digite a posição da porta Q (0 ou 1): 1
C
D

aula 6

In [12]:
def calcula_idade_maior(idade_monica, idade_filho1, idade_filho2):
  idade_filho3 = idade_monica - idade_filho1 - idade_filho2
  idade_maxima = max(idade_filho1, idade_filho2, idade_filho3)
  return idade_filho3, idade_maxima